body{
    margin:0;
}

.heroSection{
    background-color: #1F2937;
    height: 500px;
}



.navBar{
    display:flex;
    position:absolute;
    right:300px;
    top:15px;
    font-size: 18px;
    color:#F9FAF8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    justify-content: space-between;
    

}



.headerLogo{
    
    color: #F9FAF8;
    position:fixed;
    left:300px;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:15px;
    
}